*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body main {
    padding-top: 30px;
    background-color: #E8F6EF;
    padding-top: 0;
    padding-bottom: 0;
    /* min-height: calc(100vh - 50px); */
    display: flex; 
    justify-content:left; 
    padding-left:50px; }
body main p{
    color:#03332a;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}
body header{
    background-color: #1B9C85;
    display: flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    color: #fcf9f9;
    align-items: center;
}
body header ul {
display: flex;
gap: 25px;

}
body header ul li a{
  color: #fcf9f9;
  font-family:Arial, Helvetica, sans-serif;
}
/* body main .photo  {
   
}  */
#img1 {
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
#img2 {
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
#img3 {    
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
#img4 {    
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
#img5 {    
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
#img6 {    
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
#img7 {    
    width: 60px;
    display: none;
    /*visibility: hidden;*/
}
footer{
        
        padding-top:10px ;
        padding-bottom: 10px;
        text-align: center;
        align-items: center;
        background-color: #FFE194;
        color:#03332a;
        font-family:Arial, Helvetica, sans-serif;
    }
footer a{
   color:#03332a; 
}